# --- Python cache and build files ---
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# --- Virtual environment ---
MLHomework/
venv/
.env/
.venv/

# --- Jupyter Notebook checkpoints ---
.ipynb_checkpoints/

# --- Model or data artifacts ---
*.bin
*.pkl
*.h5
*.csv

# --- IDE / Editor settings ---
.vscode/
.idea/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Docker ---
*.log

# --- Keep Homework folder and Homework5 project ---
!Homework/
!Homework5/
!Homework5/Dockerfile
!Homework5/main.py
!Homework5/README.md
!Homework5/pyproject.toml
!Homework5/uv.lock

Homework/data_practice.ipynb
